<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="row">
      <div id="landing-content" class="col-lg-9">
        <h3><b>Welcome,</b></h3>
        <p>
          An Open Source clone of Twitter using Ruby on Rails. This is not an exact copy of Twitter but has a similar functionality. This is to demonstrate how easy is it develop to a Social networking app using Ruby on Rails.
        </p>
        <p>
          Checkout the Source code on <a href="https://github.com/sudharti/twitter-clone/">Github</a>
        </p>
      </div>
      <div class="col-lg-3">
        <div class="row">
          <div class="well">
            <%= render "devise/sessions/form" %>
            <%= link_to "Forgot your password?", new_password_path(:user) %>
          </div>
        </div>
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Create an Account</h3>
            </div>
            <div class="panel-body">
              <%= render "devise/registrations/form" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
