<% if resource.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
    <%= resource.errors.full_messages.first %>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  </div>
<% end %>
