<% unless notice.blank? %>
  <div class="alert alert-info alert-dismissable alert-fixed">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= notice %>
  </div>
<% end %>
<% unless alert.blank? %>
  <div class="alert alert-danger alert-dismissable alert-fixed">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= alert %>
  </div>
<% end %>
<% unless message.blank? %>
  <div class="alert alert-dismissable alert-fixed alert-info">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= message %>
  </div>
<% end %>
