<%= form_tag tweets_path(parent_id: tweet_id), method: :post, remote: true do %>
  <div class="form-group">
    <%= text_area_tag 'tweet[tweet_text]', nil, id: 'new-tweet', class: 'form-control', placeholder: 'Enter Tweet 140 characters' %>
  </div>
  <div class="form-group">
    <%= submit_tag "Tweet", id: 'tweet', class: 'btn btn-primary' %>
  </div>
<% end %>
