<div class="row">
  <div class="col-lg-3">
  </div>
  <div class="col-lg-6">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="well">
          <%= render 'partials/new_tweet', tweet_id: nil %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <div id="feed" class="well">
          <% if @tweets.empty? %>
            No Tweets
          <% else %>
            <%= render @tweets %>
          <% end %>
        </div>
        <div id="load-more">
          <%= render 'partials/load_more', items: @tweets %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
  </div>
</div>
