<div class="row">
  <div class="col-lg-3">
  </div>
  <div class="col-lg-6">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="well">
          <%= render 'tweet_form' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="well">
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
  </div>
</div>
