<div id="login-form" class="tw-form row">
  <div class="col-lg-4 col-lg-offset-4">
    <div class="well">
      <h4><b>Log in</b></h4>
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <%= render "form" %>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
