.card {
  background-color: white;
  border-radius: 3px;
  .cover {
    height: 150px;
    position: relative;
    
    .cover-pics {
      display: none;
    }

    .avatar {
      width: 35px;
      border-radius: 10rem;
      position: absolute;
      bottom: 0;
      left: 40%;
      margin-bottom: -30px;
      width: 63px !important;
      border: 4px solid #fff;
    }
  }

  .about {
    margin-top: 40px;
    line-height: 1.85rem !important;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: center;

    .name {
      font-weight: 600;
      font-size: 1.65rem;
    }
    .username {
      display: block;
      font-size: 1.35rem;
      color: #888;
    }

    .content {
      margin-top: 10px;
      line-height: 2rem;
    }
  }
}