body {
  background-color: #f4f4f4;
}

.well {
  background-color: white;
  padding: 14px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 5px;
  margin-bottom: 0px;
}

.navbar-brand {
  color: #303030 !important;
  font-weight: 700;
}

#landing-content {
  padding: 40px;
  h3, p {
    color: white;
  }

  h3 {
    margin-top: 100px;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.65rem;
    font-weight: 400;
    line-height: 3rem;
  }

  a {
    font-weight: 700;
  }
}

.tw-form {
  margin-top: 75px;
  .well {
    padding: 10px 0px;
  }
  h4 {
    padding: 0px 20px 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
  }
}

.avatar-xs {
  width: 32px;
  border-radius: 10rem;
}

ul.dropdown-menu {
  margin-top: 10px !important;
  border-radius: 5px !important;
  li {
    margin: 5px 0px;
  }
}

.retweeted {
  color: green !important;
}

.favored {
  color: gold !important;
}

.navbar-nav>li>a.profile-image {
    padding-top: 10px;
    padding-bottom: 10px;
}

#new-tweet {
  border: 1px solid #ccc;
  resize: none;
  max-height: 100px;
  box-shadow: none;
}