// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reply-form {
	margin: 15px 20px;	
}

#tweet, #new-tweet {
	i {
		margin-right: 5px;
	}
}