// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cover-pic {
  margin-top: -70px;
  height: 300px;
}

.avatar {
  width: 125px;
  border: 5px solid #fff;
}